.admin {
  width: 100%;
  padding-top: 45px;
  display: flex;
  justify-content: center;

  &-wrapper {
    width: 350px;
    height: 590px;
    background: #E5E5E5;
    padding: 26px;
    border-radius: 15px;
  }

  &-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
  }

  &-form-full-width {
    width: 100%;
  }

  &-buttons {
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }

  &-button {
    background: #2F80ED;
    color: white;
    width: 45%;
  }
}
