.auth {
  width: 100%;
  padding-top: 45px;
  display: flex;
  justify-content: center;

  &-wrapper {
    width: 350px;
    height: 270px;
    background: #F2F2F2;
    padding: 28px 26px 26px 20px;
    border-radius: 15px;
  }

  &-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
  }

  &-mat-form-field {
    width: 100%;
  }

  &-buttons {
    display: flex;
    width: 100%;
    justify-content: center;

    &-button {
      background: #2F80ED;
      color: white;
      width: 45%;
    }
  }
}
